
<section class="bg-[#FEEDF7] grid grid-cols-2 md:grid-cols-4 rounded-[1.5rem]">
  <div class=" rounded-[1.5rem] p-[1rem] flex justify-center items-center">
    <div class="bg-[var(--main-color)] p-[1.5rem] aspect-square w-[90px] rounded-[100%] grid place-items-center">
      <img src="./Icon.svg" alt="icon">
    </div>
    <div class="flex flex-col ms-[1rem]">
      <h2 class="text-[#160E4B] whitespace-nowrap">24/7 Support</h2>
      <h3 class="text-[#757F95] whitespace-nowrap ">Feel Free To Call Us</h3>
    </div>
  </div>
  <div class=" rounded-[1.5rem] p-[1rem] flex justify-center items-center">
    <div class="bg-[var(--main-color)] p-[1.5rem] aspect-square w-[90px] rounded-[100%] grid place-items-center">
      <img src="./Icon2.svg" alt="icon">
    </div>
    <div class="flex flex-col ms-[1rem]">
      <h2 class="text-[#160E4B] whitespace-nowrap">Free Delivery</h2>
      <h3 class="text-[#757F95] whitespace-nowrap ">Orders Over $120</h3>
    </div>
  </div>
  <div class=" rounded-[1.5rem] p-[1rem] flex justify-center items-center">
    <div class="bg-[var(--main-color)] p-[1.5rem] aspect-square w-[90px] rounded-[100%] grid place-items-center">
      <img src="./Icon4.svg" alt="icon">
    </div>
    <div class="flex flex-col ms-[1rem]">
      <h2 class="text-[#160E4B] whitespace-nowrap">Get Refund</h2>
      <h3 class="text-[#757F95] whitespace-nowrap ">Within 30 Days Returns</h3>
    </div>
  </div>
  <div class=" rounded-[1.5rem] p-[1rem] flex justify-center items-center">
    <div class="bg-[var(--main-color)] p-[1.5rem] aspect-square w-[90px] rounded-[100%] grid place-items-center">
      <img src="./Icon3.svg" alt="icon">
    </div>
    <div class="flex flex-col ms-[1rem]">
      <h2 class="text-[#160E4B] whitespace-nowrap">Safe Payment</h2>
      <h3 class="text-[#757F95] whitespace-nowrap ">100% Secure Payment</h3>
    </div>
  </div>
</section>
