footer {
  background-image: url('../../../../../public/footer-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}


