<footer class="bg-cover bg-center pt-4 flex items-center pb-[2rem] md:pb-[5.5rem] items-center flex-col justify-center">
  <div class=" flex flex-row  items-center gap-2 md:gap-[1rem] whitespace-nowrap capitalize text-[#160E4B] font-bold mt-8 mb-6  px-2">
    <a class="cursor-pointer text-center">AboutUs</a>
    <a class="cursor-pointer text-center">StoreLocation</a>
    <a class="cursor-pointer text-center">Contact</a>
    <a class="cursor-pointer text-center">Delivery</a>
    <a class="cursor-pointer text-center">FAQs</a>
  </div>

  <p class="text-lg sm:text-xl md:text-[1.5rem] font-bold mb-1 text-center px-2">
    Get <span class="text-[var(--main-color)]">20%</span> Off Discount Coupon
  </p>

  <h6 class="text-[#757F95] text-sm sm:text-base text-center px-2 mb-6">
    By Subscribe Our Newsletter
  </h6>


  <div class="input-group-flex mt-2 md:mt-8 w-full max-w-sm px-2 relative">
    <input class="text-[#757F95] border bg-white rounded-[2rem] border-1 border-white py-3 px-2 w-full min-w-0"
           type="email"
           readonly
           disabled
           aria-label="Email address"
           placeholder="Enter Your Email">
    <button type="submit"
            aria-describedby="subscribe-help"
            class="absolute right-0 top-1/2 -translate-y-1/2 flex items-center gap-2 px-4 py-2 bg-[#F82BA9] text-white rounded-full shadow-md shadow-black/5">
        Subscribe <i class="fas fa-arrow-right"></i>
    </button>
  </div>

</footer>
