.gift-1
{
  background-image: url(../../../../public/Confetti-lying-near-present.png);
  background-position: center;
  background-size: cover;
}
.gift-2
{
  background-image: url(../../../../public/Christmas-shopping-compositio.png);
  background-position: center;
  background-size: cover;
}
.gift-3
{
  background-image: url(../../../../public/Top-space.png);
  background-position: center;
  background-size: cover;
}

