<section class="grid grid-cols-2 gap-[1rem] md:grid-cols-3">
  <div class="gift-1 rounded-[1.5rem] flex flex-col ps-[1rem] py-[1rem] justify-start items-start">
    <span class="text-[var(--main-color)]">Gifts Box</span>
    <p class="mb-[6rem]">Awesome Gifts Box Collectons</p>
    <button class="login text-white">Shop Now</button>
  </div>
  <div class="gift-2 rounded-[1.5rem] flex flex-col ps-[1rem] py-[1rem] justify-start items-start">
    <span class="text-[var(--main-color)]">Gifts Box</span>
    <p class="mb-[6rem]">Awesome Gifts Box Collectons</p>
    <button class="login text-white">Shop Now</button>
  </div>
  <div class="gift-3 rounded-[1.5rem] flex flex-col ps-[1rem] py-[1rem] justify-start items-start">
    <span class="text-[var(--main-color)]">Gifts Box</span>
    <p class="mb-[6rem]">Awesome Gifts Box Collectons</p>
    <button class="login text-white">Shop Now</button>
  </div>

</section>
